<p><b><a class="btn btn-outline-secondary" href="{% url 'likes' %}">Add Data</a></b></p>

<style>
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }
</style>
<div class="center">
    <table class="table table-bordered " border="1">
        <tr>
        	<th>Name</th>
        	<th>Game</th>
        </tr>
        {% for i in user_data %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.favorite_game}}</td>
            </tr>
        {% endfor %}</table>
</div>


